.time{
    margin: 0 auto;
    width: 1320px;
    @media screen and (max-width:1366px) {
        width: 1160px;
    }
    .choosetime{
        position: relative;
        text-align: center;
        font-size:24px;
        font-weight:400;
        color:rgba(51, 51, 51, 1);
        margin: 36px 0 40px;
        line-height: 1em;
        span{
            position: absolute;
            left: 0;
        }
        @media screen and (max-width:1366px) {
            font-size:20px;
            margin: 18px 0 20px;
        }
    }
    .timecontainer{
        
        .day{
            display: inline-block;
            width: 165px;
            margin-right: 27px;
            &:nth-last-child(1){
                margin-right: 0;
            }
            @media screen and (max-width:1366px) {
                width: 140px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            h4,li{
                background: rgb(241, 244, 249);
                font-size:16px;
                @media screen and (max-width:1366px) {
                    font-size: 14px;
                }
            }
            h4{
                height: 60px;
                text-align: center;
                font-weight:400;
                color:rgba(51, 51, 51, 1);
                line-height: 60px;
                @media screen and (max-width:1366px) {
                    height: 55px;
                    line-height: 55px;
                }
            }
            li.select{
                border:2px solid rgba(40, 120, 255, 1);
            }
            li{
                box-sizing: content-box;
                height: 80px;
                margin-top: 34px;
                padding-left: 25px;
                padding-top: 30px; 
                border:2px solid transparent;
                cursor: pointer;
                p{
                    margin-top:11px;
                }
                @media screen and (max-width:1366px) {
                    height: 58px;
                    margin-top: 22px;
                    padding-top: 13px;
                    p{
                        margin-top: 5px;
                    }
                }
            }
            .can p{
                color:rgba(54, 109, 181, 1);
            }
            .check p{
                color:rgba(255, 185, 0, 1);
            }
            .done{
                cursor: not-allowed;
                p{
                    color:rgba(255, 86, 34, 1);
                }
            }
        }
    }
}
.button{
    @media screen and (max-width:1366px) {
        
        margin-top: 22px;
    }
}