.inputbox{
    border: none;
    width: 100%;
    @media screen and (max-width:1366px) {
        width: 300px;
        margin: 0 auto;
        padding: 5px 2px;
        font-size: 14px;
    }
    display: block;
    border-bottom: 2px solid rgba(51, 51, 51, 0.25);
    color: #333333;
    font-size: 16px;
    padding: 9px 2px;
    &:focus{
        outline: none;
        border-bottom: 2px solid rgba(40, 120, 255, 1);

    }
    &.warning{
        color: red;

    }
}
