.editor{

    .left{
        width: 100px;
        float: left;
        padding-top: 200px;
        label{
            display: block;
            width: auto;
            height: 21px;
            text-align: right;
            color:rgba(26, 26, 26, 1);
            font-size: 16px;
            margin-bottom: 68px;
        }
    }
    .center{
        float: left;
        margin-left: 19px;
        margin-top:77px;
        .button {
            width: 100px;
            height: 62px;
            background: rgba(40, 120, 255, 1);
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            margin-right: 40px;
            margin-bottom: 22px;
        }
        .input{
            width:340px;
            height:33px;
            display: block;
            border:2px solid #2878ff;
            border-radius:4px;
            margin-top:26px;
            padding: 10px;
            font-size: 16px;
        }
        .submit{
            width:360px;
            height:70px;
            background:rgba(40, 120, 255, 1);
            box-shadow:0px 5px 8px 0px rgba(40, 120, 255, 0.2);
            border-radius:10px;
            border: none;
            margin-top: 60px;
            font-size:30px;
            font-weight:bold;
            color:rgba(255, 255, 255, 1);
        }
    }
    .right{
        margin-left: 18px;
        width: 200px;
        label{
            text-align: left;
            color: #EE2424;
        }
    }
}