.left{
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.register{
    width: auto;
    .subtitle {
        font-size: 36px;
        font-stretch: normal;
        color: #2878ff;
        font-family:'MicrosoftYaHei-Bold';
        font-weight:bold;
        line-height: 1em;
        @media screen and (max-width:1366px) {
            font-size:26px;   
        }
    }
    input{
        margin-top:37px;
        @media screen and (max-width:1366px) {
            margin-top:20px;
        }
    }
        
    a{
        display: block;
        margin: 38px 0 11px;
    }
}