@import url('../stylesheet/reset.scss');
@import url('../stylesheet/root.scss');
.reservation {
    position: relative;
    height: calc(100vh - 4.5rem);
    .textbox{
        position: relative;
        // margin: 4.5rem auto 0;
        margin: 3.5rem auto 0;
        text-align: center;
        width:34.5rem;
        .textinner{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .title{
        font-size:1.9rem;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(40, 120, 255, 0.9);
        text-shadow:0rem .1rem .5rem rgba(51, 51, 51, 0.15);
        
        .person{
            width: 2.1rem;
            height: 2.1rem;
        }
    }
    .subtitle{
        font-size:1.2rem;
        color:rgba(51, 51, 51, 1);
        font-weight: 400;
        .back{
            font-size:1rem;
            color:rgba(40, 120, 255, 1);
            cursor: pointer;
        }
    }
    .botton{
        display: block;
        width:21rem;
        height:3.5rem;
        background:rgba(40, 120, 255, 1);
        box-shadow:0rem .3rem .4rem 0rem rgba(40, 120, 255, 0.2);
        border-radius:.5rem;
        border: none;
        font-size:1.5rem;
        font-weight:bold;
        color:rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
    .copyright{
        position: absolute;
        width: 100%;
        bottom: 2.4rem;
        text-align: center;
        font-size:.8rem;
        color:rgba(51, 51, 51, 1);
        @media screen and (min-width: 738px) and (max-width: 1024px) {
            bottom: 1.4rem;
        }
        @media screen and (max-height: 500px) {
            opacity: 0;
        }
    }
}
