.time{
    width:34.5rem;
    margin: 4.5rem auto 0;
    @media screen and (min-height:800px) {
        margin-top: 6.3rem;
    }
    @media screen and (min-width:400px) {
        width:37rem;
    }
    .item{ 
        position: relative;
        width: 100%;
        height:5rem;
        background:rgba(241, 244, 249, 1);
        font-size:1.2rem;
        color:rgba(51, 51, 51, 1);
        line-height: 5rem; 
        text-align: center;
        @media screen and (min-height:800px) {
            height:6rem;
            line-height: 6rem;
            margin-bottom: 5.3rem;
        }
        // margin-bottom: 5.3rem;
        margin-bottom: 3.3rem;
        .sub{
            position: absolute;
            left: 3.6rem;
        }
        .turndown{
            position: absolute;
            width: 1.7rem;
            height: 1rem;
            top: 0;
            bottom: 0;
            right: .8rem;
            margin: auto;
        }
    }
    .can {
        color: rgba(54, 109, 181, 1);
    }

    .check{
        color: rgba(255, 185, 0, 1);
    }

    .done {
        color: rgba(255, 86, 34, 1);
    }
    .botton {
        // margin-top: 8.5rem;
        margin-top: 5.5rem;   
        @media screen and (min-height:600px) {
            margin-top: 8.3rem;
        }
        @media screen and (min-height:800px) {
            margin-top: 11.3rem;
        }
    }
    .select{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.3);
        z-index: 100;
        top: 0;
        right: 0;
        .selectlist{
            position: absolute;
            width: 100%;
            bottom: 0;
            .selectitem {
                display: block;
                height: 5.1rem;
                line-height: 5.1rem;
                text-align: center;
                border-top: .1rem solid #d4d4d4;
                background: #fff;
                font-size: 1.6rem;
                color: #333;
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:active {
                    background: #ccc;
                    color: #fff;
                }
            }
            .selectback{
                color: rgba(40, 120, 255, 0.9);
            }
        }
    }
}
